<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <title>Introduction</title>
</head>
<body>
    <h1 class="header"> Halo Namaku Raffi</h1>
    <div class="div1">
        <p>
            aku biasa dipanggil Raffi dan aku anak tunggal.aku sekarang berumur 16 dan masih sekolah sih. Ya, memang aku hanya sendirian 
            tapi seharusnya aku tidak sendirian dan ini hanya permulaan saja.Yang sebenarnya terjadi
            iala teman atau sahabat selalu lupa jika tidak perna bertemu,dan jujur aku ngetik ini malu sebenarnya,
            aku lahir di lumajang Tukum disitu tempat ku tinggal dan saya mempunyai teman yang selalu dekat rumahku
            dia adala agis dia memang sahabat dan jujur dia memang sangat seru jika diajak main,tapi sekarang dia sudah ada
            di kunir dan saya hanya sendirian,tetapi ada yang masih dekat dengan kampung ku yaitu dinda ya dia perempuan.Tapi
            dia adalah sahabat dan juga gank di kampung ku,dulu saat aku masih tk semuanya selalu main di dekat halaman rumah ku
            saat itu memang aku masih bocil dan sekarang ya memang sudah lela dengan main diluar,itu sangat melelahkan
            dulu, aku saat tk sekolah di al kautsar dekat warung bakso, disitu aku juga ngaji.dan sekarang sudah hatam sih tapi, saat sd
            aku ngaji dimasjid tukum darussalam disitu saya hatam dan saya terimakasih terhadap guru ngajiku yang telah ngajar meskipun aku
            susah membaca Al-Qur'an sih hehe.
        </p>
    </div>
    <h1 class="header2">Identitas Saya</h1>
    <div class="div2">
        <ul>
            <li>Nama:Muhammad Raffi Putra Umaryono</li>
            <li>Sekolah Sekarang:SMKN 1</li>
            <li>Tanggal Di buat:08-09-2024</li>
            <li>Tempat Tinggal:Jawa Timur, Lumajang, Tukum</li>
            <li>Nomor HP:082132850044</li>
        </ul>
    </div>
    <h1 class="header3">Selebihnya</h1>
    <p class="paragrap">itu saja sih perkenalan saya dan selamat membaca jika mau aja sih dan saya terimakasih semuanya yang telah membuat ku
        senang dan fitri aku memang suka ke kamu cuman aku simpan aja "love you"
    </p>
</body>
</html>